body {
	background-color: #B2D5EE;
	padding-left: 100px;
	padding-right: 100px;
	color: #505050;
	font-family: 'Dosis' sans-serif;
}

#header {
	margin: auto;
	width: 100%;
	min-width: 650px;
	height: auto;
}

#info {
	text-align: center;
	font-weight: 600;
	display: block;
}

#header ul {	
	-webkit-padding-start: 0px;
	padding: 16px;
	border-top: 3px solid #808080;
	border-bottom: 1px solid #808080;
	margin-bottom: 0px;
}



#header a, #footer a {
	text-decoration: none;
	color: #505050;
	
}

#header li, #footer li {
	float: none;
	font-weight: 500;
	letter-spacing: 2px;
	display: inline;
	font-size: 19px;
	
}
#work {
	text-align: left;
	margin-left: 25%;
}


#personal {
	float: right !important;
	margin-right: 25%;
	
}


body #workDiv, body #personalDiv {
	/*padding-left: 20%;
	padding-right: 20%;	
	border-bottom: 1px solid #808080;*/
	font-weight: 500;
	letter-spacing: 1px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	
}

#footer ul {
	-webkit-padding-start: 0px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top: 1px solid #808080;
	height: 30px;
	min-width: 650px;
}

#footer .button {
	margin-left: 13%;
	float: left;
}

#footer img {
	width: 48px;
	height: 48px;
}

#divider {
	border-top: 1px solid #808080;
	min-width: 650px;
	
}

