body {
	background-color: #B2D5EE;
	padding-left: 100px;
	padding-right: 100px;
	color: #505050;
	font-family: 'Dosis' sans-serif;
}

#header {
	margin: auto;
	width: 100%;
	height: auto;
}

#info {
	text-align: center;
	font-weight: 600;
	display: block;
}

#header ul {	
	-webkit-padding-start: 0px;
	padding: 16px;
	border-top: 3px solid #808080;
	border-bottom: 1px solid #808080;
}

#header a {
	text-decoration: none;
	color: #505050;
	
}

#header li {
	float: none;
	font-weight: 500;

	letter-spacing: 2px;
	display: inline;
	font-size: 19px;
	
}
#work {
	text-align: left;
	margin-left: 25%;
}


#personal {
	float: right !important;
	margin-right: 25%;
	
}

body #workDiv, body #personalDiv {
	/*padding-left: 20%;
	padding-right: 20%;	
	border-bottom: 1px solid #808080;*/
	font-weight: 500;
	letter-spacing: 1px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	
}




